<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello world</title>

    <!-- Vue.js версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .demo {
            font-family: sans-serif;
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 20px 30px;
            margin-top: 1em;
            margin-bottom: 40px;
            user-select: none;
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div id="two-way-binding">
        <p>{{ message }}</p>
        <input v-model="message" />
        <p>Ширина: <input type="number" v-model="width" placeholder="Введите ширину" /></p>
        <p>Высота: <input type="number" v-model="height" placeholder="Введите высоту" /></p>
        <p>Площаль прямоугольника: {{ width * height }}</p>
        <!--
        Стоит отметить, что директива v-model игнорирует значения атрибутов value, checked и selected полей ввода, 
        а для установки начального значения следует использовать свойства объекта из кода javascript.
        -->
    </div>

    <script>
        const TwoWayBinding = {
            data() {
                return {
                    message: 'Копирование ввода',
                    width: 20, height: 10
                }
            }
        }

        Vue.createApp(TwoWayBinding).mount('#two-way-binding')
    </script>

</body>
</html>