<!DOCTYPE html>
<html>
<head>
    <title>Изучаем Vue 3</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" />
        <input type="text" v-model="age" />
        <p>Имя: {{name}}   Возраст {{age}}</p>
        <p>{{checkAge()}}</p>
        <p>{{enabled}}</p>
        <div>
            <input type="text" v-model="firstname" />
            <input type="text" v-model="lastname" />
            <input type="text" v-model="fullname" />
            <p>Имя: {{fullname}}</p>
        </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
Vue.createApp({
  data() {
        return {
            name: 'Tom', age: 25,
            firstname: 'Tom', lastname: 'Smith'
        }
    },
    computed: {
        enabled: function () {//вызывается только при изменении this.age
            console.log("computed");
            if (this.age > 18) return "доступ разрешен";
            else return "доступ запрещен";
        },
        fullname: {//для вычисояемого свойства можно задать get() и set()
            get: function () {
                return this.firstname + ' ' + this.lastname;
            },
            set: function (newValue) {
                const names = newValue.split(' ')
                this.firstname = names[0]
                this.lastname = names[names.length - 1]
            }
        }
    },
  methods:{
    checkAge: function(){
          console.log("checkAge"); //вызывается при изменении любого поля https://metanit.com/web/vue/1.6.php
        if(this.age > 18) return "доступ разрешен";
        else return "доступ запрещен";
    }
  }
}).mount('#app');
    </script>
</body>
</html>