<!DOCTYPE html>
<html>
<head>
    <title>Компоненты Vue 3. Однонаправленный поток данных</title>
    <meta charset="utf-8" />
</head>
<body style="max-width:1024px;">
    <h1>Однонаправленный поток данных</h1>
    <p>
        При использовании props в компонентах следует учитывать, что данные в props представляют однонаправленный поток данных от родительского компонента к дочерним компонентам. 
        Изменение свойства родителя приведет к изменению в дочерних компонентах. Однако дочерние компоненты не могут изменить свойство родителя. 
        То есть поток данных идет только в одном направлении: родителя к потомкам. Props представяют свойства, доступные только для чтения.
    </p>
    <p>
        Более того при любом обновлении родительского компонента у дочерних компонентов обновляются значения, передаваемые через props. 
        При обратной ситуации, если мы попробуем изменить в дочерних компонентах значения, переданные через props, 
        то на консоль браузера будет выведено предупреждение о том, что это не следует делать, а сами значения никак не изменятся. 
        Например, рассмотрим следующую ситуацию:
    </p>
    <p>
        Однако могут быть ситуации, когда нам все таки нужно изменить значения в props. Что делать в этом случае? 
        В этом случае мы можем определить локальную переменную. 
        Через props устанавливается ее начальное значение, и затем компонент работает только с этой переменной:
    </p>
    <p>
        Теперь все действия будут идти с локальной переменной userName. 
        Значения из props в компоненте не будут изменяться, 
        а изменения в родительском компоненте никак не повлияют на значение переменной userName.
    </p>
    <p>
        Предложенное выше решение позволяет изменять внутри компонента данные, полученные от родительского компонента. 
        Но тогда мы можем столкнуться с другой проблемой - а что, если родительский компонент также изменит данные:
    </p>

    <div id="app">
        <h2>Hello, {{name}}</h2>
        <user-edit :user="name"></user-edit>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
const app = Vue.createApp({
    data(){
        return {  name: 'Tom' }
    }
});

app.component('user-edit', {
    //props: ["user"],
    data() {
        return { userName: this.user }
    },

    //template: '<div><input type="text" v-model="user" /><p>Name: {{user}}</p></div>'
    template: '<div><input type="text" v-model="userName" /><p>Name: {{userName}}</p></div>'
});
app.mount('#app');
    </script>
</body>
</html>